target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.metadata
exemplo-di/bin
wfm-algafood-api/.classpath
wfm-algafood-api/.project
wfm-algafood-api/.settings/
wfm-algafood-api/bin/
wfm-algafood-api/.vscode/
wfm-algafood-api/.factorypath

wfm-algafood-api-intro/.classpath
wfm-algafood-api-intro/.project
wfm-algafood-api-intro/.settings/
wfm-algafood-api-intro/bin/
wfm-algafood-api-intro/.vscode/